a:hover {
    color:gold;
    background-color:grey;
}
p:hover{
    text-decoration: underline 1px;
    color:blueviolet;
}
#heading {
    font-family:"courier new"monospace;
    font-size:large;
    color:red;

}
tr:hover{
    color:brown;
}
td:hover{
    color:blueviolet;
}
#address{
    text-transform: capitalize;
    font-size:large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box{
    box-shadow: 2px 2px 25px 2px rgba(156, 205, 84, 0.832);
}
.box1{
    box-shadow: 2px 2px 25px 2px rgba(156, 205, 84, 0.832);
}
.box2{
    box-shadow: 2px 2px 25px 2px rgba(156, 205, 84, 0.832);
}